<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'hojas de estilo/costos.css')}}">
</head>
<body>
    <div class= "contenedor_principal">
        <div id="Contenido_costos">
            <h1 id="Titulo" style="color: rgb(54, 75, 6);">Costos</h1>
            <h3 style="color: rgb(57, 75, 15);">Panel Solar 100W Netion Policristalino</h3>
    
                <p>El Panel Solar Policristalino ofrece una gran eficiencia, es recomendado para pequeñas instalaciones solares aisladas. 
                    <br>
                    Garantía de 30 años en producción de energía y 12 años en fabricación del producto.</p>
                    <div class="imagenes">
                    <img src="/static/imagenesps/painel_solar_fotovoltaico_150w_resun_rs6e_150p_12031_1_20201120100906.jpg" alt="panel1" id="imagenpanel">
                    </div>
                    <br>
                    <p> $ 240.000 </p>
         </div>
        
         <div id="precios" >
            <h1 style="color: rgb(127, 175, 14);">Panel Solar Jinko Solar 560W Monocristalino Half Cell</h1>
    
            <p>Tipo de módulo: Mono-facial, P-Type
                Potencia: 560 W
                Tolerancia de potencia: 0~+3%
                Durabilidad: 12 años de garantía del producto, 25 años de garantía de rendimiento lineal
                Degradación anual: 0.55%
        <br>
        Características clave: <br>
    – Tecnología Multi Busbar <br>
    – Pérdida de punto caliente reducida <br>
    – Resistencia a condiciones ambientales extremas <br>
    – Certificaciones: ISO 9001, ISO 14001, IEC 61215, IEC 61730 <br>
    – Carga mecánica: Resistencia a 2400 Pa (viento) y 5400 Pa (nieve)
        <br>
        <img src="/static/imagenesps/Ficha-Tecnica-Panel-Solar-Jinko-Solar-Tiger-Pro-72HC-de-560W.jpg" alt="panel2" id="imagenlimpiar">
            </p>
            <p>$420.000</p>
         </div>
         <div class="slide">
           <h1 style="color:rgb(127, 175, 14) ;"> <B>Mantenimiento Paneles Solares</B></h1>
         </div>
         <div>
            <div class="imagenes">
            <img src="/static/imagenesps/limpiar paneles 2.webp" alt="limpiar1">
            <img src="/static/imagenesps/limpiar panels 3.webp" alt="limpiar2">
            <img src="/static/imagenesps/como-limpiar-placas-solares_1254x550_7fd4441d-4644-4cb5-9835-d4e6d730c307.webp" alt="Limpiar3">
            </div>
            <div class=final>
            <h1>¿Cuánto cuesta el mantenimiento de un panel solar?</h1>
            <p>En primer lugar, es importante subrayar que existen dos tipos de mantenimiento para los sistemas fotovoltaicos: <b>el correctivo y el preventivo.</b></p>
            <br>
            <b>El primero se lleva a cabo cuando un sistema presenta alguna falla;</b>generalmente se debe a una pérdida o nula generación de energía, por lo que se tiene que hacer una corrección del sistema (cambio de componentes, piezas, etc). En cambio, 
            <b>el mantenimiento preventivo tiene como objetivo revisar el estado en el que se encuentran los componentes del sistema</b>, para verificar que todo funcione a la perfección y evitar los mantenimientos correctivos. Ahora bien,<b> los
            precios de ambos tipos de mantenimiento van desde <b>$328.201</b> hasta <b>$1.422.206</b> aproximadamente.
            <br>Hay que tener en cuenta que un buen mantenimiento es esencial para que los paneles solares funcionen correctamente y se pueda obtener de ellos el máximo potencial. Algo tan sencillo como que la superficie de las placas esté sucia puede afectar de manera sensible al funcionamiento del sistema y a su rendimiento, provocando pérdidas de entre un 8% y un 15%.
    
           <b>Realizar un mantenimiento preventivo evitará realizar un mantenimiento correctivo y, así, ahorrar una suma considerable de dinero en reparaciones. </b>
           
         </div>
    </div>

</body>
</html>